/*   Primary Color   */
/*   Terciary Color   */
/*   Corner Radius   */
/*    Font Size     */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1b1b1b;
  color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  display: inline-block;
}

.yellow-text {
  color: #eebf63;
}

.grey-text {
  color: #828282;
}

.weight700 {
  font-weight: 700;
}

.weight600 {
  font-weight: 600;
}

.weight500 {
  font-weight: 500;
}

.weight300 {
  font-weight: 300;
}

.py-25 {
  padding: 25px 0;
}

.paddingX {
  padding: 0 15%;
}

.grey-bar {
  height: 3px;
  margin: 60px 0;
  background-color: #2f2f2f;
  border-radius: 20px;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#header .left-part {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}

#header .left-part:hover {
  color: #eebf63;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#header .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

#header .right-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .right-part ul a {
  padding: 0 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#header .right-part ul a:hover {
  color: #eebf63;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#header .right-part ul .currentSelected {
  color: #cd921e;
  font-weight: 500;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#header .right-part ul .currentSelected:hover {
  color: #f1f1f1;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#landing-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 75px 0 0 0;
}

#landing-about .left-part {
  width: 50%;
}

#landing-about .left-part .welcome-message {
  font-size: 24px;
}

#landing-about .left-part .name {
  font-size: 48px;
  line-height: 62px;
}

#landing-about .left-part .quote {
  padding: 50px 0 0 0;
  font-size: 18px;
  line-height: 30px;
}

#landing-about .left-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  font-size: 18px;
}

#landing-about .left-part ul a {
  padding: 0 10px;
}

#landing-about .left-part ul a:first-child {
  padding: 0 10px 0 0;
}

#landing-about .left-part ul svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#landing-about .left-part ul svg path {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#landing-about .left-part .buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#landing-about .left-part .buttons-row a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  background-color: #cd921e;
  border: 2px solid #cd921e;
  border-radius: 10px;
  text-align: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#landing-about .left-part .buttons-row a svg {
  padding: 0 5px 0 0;
}

#landing-about .left-part .buttons-row a svg path {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#landing-about .left-part .buttons-row a:last-child {
  margin: 0 0 0 20px;
}

#landing-about .left-part .buttons-row a:hover {
  background-color: transparent;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#landing-about .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#landing-about .right-part div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 0;
}

#landing-about .right-part div .landing-about-img-hexagon {
  width: 70%;
  max-width: 300px;
  max-height: 300px;
  margin: 0 20% 0 0;
  -webkit-transform: scaleX(-1) scaleY(-1) translateX(10%) translateY(-50%) rotate(40deg);
          transform: scaleX(-1) scaleY(-1) translateX(10%) translateY(-50%) rotate(40deg);
  z-index: -1;
}

#landing-about .right-part div .landing-about-img-circle {
  width: 70%;
  max-width: 350px;
  max-height: 350px;
  margin: 0 0 0 -50%;
  border-radius: 50%;
  outline: 1px solid #828282;
  z-index: -2;
}

#landing-about .right-part div .landing-about-img {
  width: 75%;
  max-width: 350px;
  max-height: 350px;
  margin: 12% 0 0 -68%;
  border-radius: 50%;
}

#landing-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  margin: 75px 0 0 0;
  background-color: #2f2f2f;
  border-radius: 25px;
}

#landing-resume .left-part {
  width: 35%;
}

#landing-resume .left-part img {
  max-width: 100%;
  border-radius: 25px;
}

#landing-resume .right-part {
  width: 65%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 0 0 30px;
}

#landing-resume .right-part .top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing-resume .right-part .top-part div p:last-child {
  font-size: 24px;
}

#landing-resume .right-part .top-part div:first-child p:first-child {
  font-size: 72px;
  line-height: 62px;
}

#landing-resume .right-part .top-part div:last-child p:first-child {
  font-size: 48px;
  line-height: 62px;
}

#landing-resume .right-part .bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 0 0;
}

#landing-resume .right-part .bottom-part p:first-child {
  font-size: 48px;
  line-height: 62px;
}

#landing-resume .right-part .bottom-part p:last-child {
  font-size: 24px;
  line-height: 45px;
}

#landing-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#landing-projects .top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#landing-projects .top-part p {
  font-size: 48px;
  line-height: 62px;
}

#landing-projects .top-part a {
  padding: 5px 15px;
  background-color: #cd921e;
  border: 2px solid #cd921e;
  border-radius: 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#landing-projects .top-part a:hover {
  background-color: transparent;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#landing-projects .bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 30px 0 0 0;
}

#landing-projects .bottom-part .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48.5%;
}

#landing-projects .bottom-part .card .top-card img {
  max-width: 100%;
  border-radius: 20px;
}

#landing-projects .bottom-part .card .bottom-card {
  width: 100%;
  padding: 15px 0 0 0;
}

#landing-projects .bottom-part .card .bottom-card p {
  font-size: 24px;
}

#landing-projects .bottom-part .card .bottom-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}

#landing-projects .bottom-part .card .bottom-card div a {
  margin: 0 25px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#landing-projects .bottom-part .card .bottom-card div a:hover {
  color: #eebf63;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#landing-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0 0 0;
}

#landing-why .top-part {
  font-size: 48px;
}

#landing-why .bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#landing-why .bottom-part .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 30px 0 0 0;
}

#landing-why .bottom-part .row .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  text-align: center;
}

#landing-why .bottom-part .row .card .top-card img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 25px;
}

#landing-why .bottom-part .row .card .bottom-card {
  padding: 15px 0 0 0;
}

#landing-why .bottom-part .row .card .bottom-card p:first-child {
  font-size: 24px;
  line-height: 36px;
}

#landing-why .bottom-part .row .card .bottom-card p:last-child {
  font-size: 18px;
  line-height: 30px;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 75px 0;
  padding: 15px 45px;
  background-color: #cd921e;
  border-radius: 10px;
}

#contact .left-part {
  width: 25%;
  text-align: left;
  font-size: 48px;
  line-height: 62px;
}

#contact .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-item-align: center;
      align-self: center;
  width: 60%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#contact .right-part .buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 24px;
}

#contact .right-part .buttons-row a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  color: #f1f1f1;
  text-align: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#contact .right-part .buttons-row a svg {
  padding: 0 5px 0 0;
}

#contact .right-part .buttons-row a svg path {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#contact .right-part .buttons-row a:last-child {
  margin: 0 0 0 20px;
}

#contact .right-part .buttons-row a:hover {
  background-color: #f1f1f1;
  color: #1b1b1b;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#landing-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15%;
  background-color: #386163;
}

#landing-review .top-part {
  width: 50%;
  text-align: center;
  font-size: 48px;
  line-height: 60px;
}

#landing-review .middle-part {
  padding: 30px 0;
}

#landing-review .middle-part .thumbnails-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 43% 4% 43% 5%;
      grid-template-columns: 5% 43% 4% 43% 5%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

#landing-review .middle-part .thumbnails-row .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 30px;
  background-color: #2f2f2f;
  border-radius: 20px 0 20px 20px;
}

#landing-review .middle-part .thumbnails-row .card .top-card {
  width: 90%;
  font-size: 24px;
}

#landing-review .middle-part .thumbnails-row .card .bottom-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 90%;
  padding: 60px 0 0 15px;
}

#landing-review .middle-part .thumbnails-row .card .bottom-card img {
  max-width: 50px;
  max-height: 50px;
  margin: 0 15px 0 0;
  border-radius: 45px;
}

#landing-review .middle-part .thumbnails-row .card .bottom-card p:last-child {
  font-size: 14px;
}

#landing-review .middle-part .thumbnails-row .first-card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

#landing-review .middle-part .thumbnails-row .second-card {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#footer .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 36px;
}

#footer .left-part a {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#footer .left-part a:hover {
  color: #cd921e;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#footer .middle-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

#footer .middle-part ul a {
  padding: 0 10px;
}

#footer .middle-part ul svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .middle-part ul svg path {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#footer .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 24px;
}

#footer .right-part a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#footer .right-part a svg path {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#footer .right-part a:hover {
  color: #6fc2c5;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#about-landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 75px 0 0 0;
}

#about-landing .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 25px 0 0;
}

#about-landing .left-part .about-landing-img {
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  border-radius: 10px;
}

#about-landing .right-part {
  margin: 0 0 0 25px;
  font-size: 18px;
  line-height: 27px;
}

#about-landing .right-part div:first-child {
  font-size: 48px;
  line-height: 72px;
}

#about-landing .right-part ul {
  padding: 5px 0 0 0;
}

#about-landing .right-part ul a li img {
  max-width: 50px;
  max-height: 50px;
}

#about-description {
  text-align: justify;
  font-size: 18px;
  line-height: 45px;
}

#about-description img {
  border-radius: 20px;
}

#about-description .middle-img {
  margin: 60px 0;
}

#about-description .middle-img img {
  width: 100%;
}

#about-description .bottom-text p:last-child {
  margin: 45px 0 0 0;
}

#about-description .bottom-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 45px 0;
}

#about-description .bottom-video img {
  width: 100%;
}

#about-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 90px 0 0 0;
  padding: 60px 45px;
  background-color: #486074;
}

#about-contact .left-part {
  width: 35%;
  text-align: left;
  font-size: 48px;
}

#about-contact .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-item-align: center;
      align-self: center;
  width: 35%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#about-contact .right-part .buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 24px;
}

#about-contact .right-part .buttons-row a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  color: #f1f1f1;
  text-align: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#about-contact .right-part .buttons-row a svg {
  padding: 0 5px 0 0;
}

#about-contact .right-part .buttons-row a svg path {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#about-contact .right-part .buttons-row a:last-child {
  margin: 0 0 0 20px;
}

#about-contact .right-part .buttons-row a:hover {
  background-color: #f1f1f1;
  color: #1b1b1b;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0 0 0;
}

#projects-list .top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 15px 0;
  font-size: 48px;
}

#projects-list .list-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#projects-list .list-part ul {
  font-size: 32px;
  color: #828282;
}

#projects-list .list-part ul li {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#projects-list .list-part ul li:nth-child(2) {
  margin: 0 30px;
}

#projects-list .list-part ul li:hover {
  color: #cd921e;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#projects-list .list-part ul .currentSelected {
  color: #cd921e;
  border-bottom: 4px solid #cd921e;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#projects-list .list-part ul .currentSelected:hover {
  color: #828282;
  border-bottom: 4px solid #828282;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

#projects-list .bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 50px 0 0 0;
}

#projects-list .bottom-part .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47.5%;
  padding: 0 0 100px 0;
  text-align: center;
}

#projects-list .bottom-part .card .top-card img {
  max-width: 100%;
  max-height: 500px;
  border-radius: 25px;
}

#projects-list .bottom-part .card .bottom-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 30px 0 0 0;
  text-align: left;
}

#projects-list .bottom-part .card .bottom-card p {
  font-size: 24px;
}

#projects-list .bottom-part .card .bottom-card div {
  padding: 15px 0 0 0;
  line-height: 24px;
}

#projects-list .bottom-part .card .bottom-card div a:first-child {
  margin: 0 15px 0 0;
}

.projects .right-part .buttons-row a {
  margin: 0 !important;
}

#case-header {
  padding: 75px 0 0 0;
}

#case-header p:first-child {
  font-size: 18px;
  line-height: 32px;
}

#case-header p:nth-child(2) {
  font-size: 48px;
  line-height: 62px;
}

#case-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 0 0;
}

#case-header div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 36px 0 0;
}

#case-header div div p {
  font-size: 24px;
}

#case-header div:last-child {
  padding: 0;
}

#case-description {
  text-align: justify;
  font-size: 18px;
  line-height: 45px;
}

#case-description img {
  border-radius: 20px;
}

#case-description .title {
  font-size: 36px;
}

#case-description .title:first-child {
  margin: 10px 0 0 0;
}

#case-description .top-img {
  margin: 60px 0;
}

#case-description .top-img img {
  width: 100%;
}

#case-description .middle-img {
  margin: 60px 0;
}

#case-description .middle-img img {
  width: 100%;
}

#case-description .bottom-text .title {
  font-size: 24px;
}

#case-description .bottom-text .title:nth-child(3) {
  margin: 30px 0 0 0;
}

#case-description .bottom-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 45px 0;
}

#case-description .bottom-img img {
  width: 100%;
}

#case-latest .top-part p {
  font-size: 36px;
  line-height: 46px;
}

#case-latest .bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 50px 0 0 0;
}

#case-latest .bottom-part .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47.5%;
  padding: 0 0 60px 0;
  text-align: center;
}

#case-latest .bottom-part .card .top-card img {
  max-width: 100%;
  max-height: 500px;
  border-radius: 25px;
}

#case-latest .bottom-part .card .bottom-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 30px 0 0 0;
  text-align: left;
}

#case-latest .bottom-part .card .bottom-card p {
  font-size: 24px;
}

@media only screen and (max-width: 1100px) {
  #landing-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 15px 0 0 0;
  }
  #landing-about .left-part {
    width: 100%;
  }
  #landing-about .right-part {
    width: 55%;
    padding: 0 0 60px 0;
  }
  #landing-resume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #landing-resume .left-part {
    display: none;
  }
  #landing-resume .right-part {
    width: 100%;
  }
  #landing-why .bottom-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #landing-why .bottom-part .row .card {
    width: 40%;
  }
  #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .left-part {
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center;
  }
  #contact .right-part {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #landing-review .top-part {
    width: 100%;
  }
  #about-landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0 0 0;
  }
  #about-landing .left-part {
    width: 40%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 30px 0;
  }
  #about-landing .right-part {
    width: 100%;
    margin: 0;
  }
  #about-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-contact .left-part {
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center;
  }
  #about-contact .right-part {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #projects-list .bottom-part .card {
    padding: 0 0 60px 0;
  }
}

@media only screen and (max-width: 1000px) {
  #landing-projects .bottom-part .card .bottom-card div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  #landing-review .middle-part .thumbnails-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #landing-review .middle-part .thumbnails-row .first-card {
    margin: 0 0 45px 0;
  }
  #projects-list .list-part ul li {
    margin: 0 0 15px 0;
  }
}

@media only screen and (max-width: 800px) {
  .paddingX {
    padding: 0 7.5%;
  }
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0 20px 0;
  }
  #header .left-part {
    font-size: 32px;
  }
  #header .right-part {
    margin: 30px 0 0 0;
    font-size: 24px;
  }
  #about-landing .left-part {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 50%;
  }
  #projects-list .bottom-part .card {
    width: 97.5%;
  }
  #case-latest .bottom-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #case-latest .bottom-part .card {
    width: 77.5%;
  }
}

@media only screen and (max-width: 700px) {
  #contact .right-part .buttons-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .right-part .buttons-row a:last-child {
    margin: 15px 0 0 0;
  }
  #about-contact .right-part .buttons-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-contact .right-part .buttons-row a:last-child {
    margin: 15px 0 0 0;
  }
}

@media only screen and (max-width: 600px) {
  #header {
    padding: 30px 0 15px 0;
  }
  #header .left-part {
    font-size: 24px;
  }
  #header .right-part {
    margin: 30px 0 0 0;
    font-size: 18px;
  }
  #landing-about .left-part {
    width: 100%;
  }
  #landing-about .left-part .welcome-message {
    font-size: 24px;
  }
  #landing-about .left-part .name {
    font-size: 36px;
    line-height: 54px;
  }
  #landing-about .left-part .quote {
    padding: 15px 0 0 0;
    font-size: 18px;
    line-height: 27px;
  }
  #landing-about .right-part {
    width: 60%;
    padding: 0 0 60px 0;
  }
  #landing-resume {
    padding: 30px;
  }
  #landing-resume .right-part .top-part div p:last-child {
    font-size: 18px;
  }
  #landing-resume .right-part .top-part div:first-child p:first-child {
    font-size: 48px;
    line-height: 62px;
  }
  #landing-resume .right-part .top-part div:last-child p:first-child {
    font-size: 48px;
    line-height: 62px;
  }
  #landing-resume .right-part .bottom-part {
    padding: 15px 0 0 0;
  }
  #landing-resume .right-part .bottom-part p:first-child {
    font-size: 40px;
  }
  #landing-resume .right-part .bottom-part p:last-child {
    font-size: 20px;
    line-height: 35px;
  }
  #landing-projects {
    padding: 60px 0 0 0;
  }
  #landing-projects .top-part p {
    font-size: 36px;
    line-height: 62px;
  }
  #landing-projects .top-part a {
    padding: 4px 12px;
  }
  #landing-projects .bottom-part {
    padding: 15px 0 0 0;
  }
  #landing-projects .bottom-part .card .bottom-card p {
    font-size: 20px;
  }
  #landing-why .bottom-part .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  #landing-why .bottom-part .row .card {
    width: 80%;
    padding: 30px 0 0 0;
  }
  #contact .left-part {
    font-size: 36px;
    line-height: 40px;
  }
  #contact .right-part {
    padding: 15px 0 0 0;
  }
  #contact .right-part .buttons-row {
    font-size: 20px;
  }
  #landing-review .top-part {
    font-size: 36px;
    line-height: 40px;
  }
  #footer .left-part {
    font-size: 24px;
  }
  #footer .right-part {
    font-size: 20px;
  }
  #about-landing .left-part {
    padding: 0 0 20px 0;
  }
  #about-landing .right-part div:first-child {
    font-size: 36px;
    line-height: 56px;
  }
  #about-landing .right-part ul a li img {
    max-width: 45px;
    max-height: 45px;
  }
  #about-description {
    font-size: 18px;
    line-height: 27px;
  }
  #about-contact {
    padding: 45px 30px;
  }
  #about-contact .left-part {
    font-size: 36px;
    line-height: 40px;
  }
  #about-contact .right-part .buttons-row {
    font-size: 20px;
  }
  #projects-list {
    padding: 60px 0 0 0;
  }
  #projects-list .top-part {
    font-size: 36px;
  }
  #projects-list .list-part ul {
    font-size: 24px;
  }
  #case-header {
    padding: 65px 0 0 0;
  }
  #case-header p:nth-child(2) {
    font-size: 36px;
    line-height: 40px;
  }
  #case-description {
    line-height: 27px;
  }
  #case-description .title {
    font-size: 28px;
    padding: 0 0 15px 0;
  }
}

@media only screen and (max-width: 500px) {
  #landing-about .left-part .name {
    padding: 5px 0 10px 0;
    font-size: 30px;
    line-height: 40px;
  }
  #landing-about .right-part {
    width: 70%;
  }
  #landing-resume .right-part .bottom-part p:first-child {
    font-size: 30px;
  }
  #landing-resume .right-part .bottom-part p:last-child {
    font-size: 18px;
  }
  #landing-projects .top-part p {
    font-size: 30px;
    line-height: 48px;
  }
  #landing-projects .top-part a {
    padding: 2px 4px;
  }
  #landing-projects .bottom-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #landing-projects .bottom-part .card {
    width: 85%;
  }
  #landing-projects .bottom-part .card:first-child {
    padding: 0 0 30px 0;
  }
  #landing-why {
    padding: 90px 0 0 0;
  }
  #landing-why .top-part {
    font-size: 36px;
  }
  #footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
  #footer .middle-part {
    display: none;
  }
  #about-landing .right-part div:first-child {
    font-size: 30px;
    line-height: 46px;
  }
  #projects-list .list-part ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 24px;
  }
  #projects-list .list-part ul li {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #projects-list .list-part ul li:nth-child(2) {
    margin: 0 0 15px 0;
  }
}

@media only screen and (max-width: 400px) {
  #header .right-part {
    margin: 30px 0 0 0;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */