/*   Primary Color   */
$light-yellow: #eebf63;
$skyBlue: #90c0e8;
$light-algaeBlue: #6fc2c5;
$dark-yellow: #cd921e;
$blueGrey: #486074;
$algaeBlue: #386163;

/*   Terciary Color   */
$black: #1b1b1b;
$light-black: #2f2f2f;
$grey: #828282;
$light-grey: #e1e1e1;
$very-light-grey: #f1f1f1;
$white: #ffffff;

/*   Corner Radius   */
$br-10: 10px;
$br-20: 20px;
$br-25: 25px;
$br-30: 30px;
$br-45: 45px;

/*    Font Size     */
$size-18: 18px;
$size-24: 24px;
$size-32: 32px;
$size-36: 36px;
$size-48: 48px;

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: $black;
    color: $very-light-grey;
    font-family: 'Poppins', sans-serif;
}

p{
    margin: 0;
}

a{
    color: $white;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        display: inline-block;
    }
}



.yellow-text{
    color: $light-yellow;
}

.grey-text{
    color: $grey;
}

.weight700{
    font-weight: 700;
}

.weight600{
    font-weight: 600;
}

.weight500{
    font-weight: 500;
}

.weight300{
    font-weight: 300;
}


.py-25{
    padding: 25px 0;
}

.paddingX{
    padding: 0 15%;
}

.grey-bar{
    height: 3px;
    margin: 60px 0;
    background-color: $light-black;
    border-radius: $br-20;
}

#header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    user-select: none;
    .left-part{
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
    }
    .left-part:hover{
        color: $light-yellow;
        transition-duration: 250ms;
    }
    .right-part{
        display: flex;
        align-items: center;
        font-weight: 700;
        ul{
            display: flex;
            justify-content: center;
            a{
                padding: 0 10px;
                transition-duration: 250ms;
            }
            a:hover{
                color: $light-yellow;
                transition-duration: 250ms;
            }
            .currentSelected{
                color: $dark-yellow;
                font-weight: 500;
                transition-duration: 250ms;
            }
            .currentSelected:hover{
                color: $very-light-grey;
                transition-duration: 250ms;
            }
        }
    }
}

#landing-about{
    display: flex;
    flex-direction: row;
    padding: 75px 0 0 0;
    .left-part{
        width: 50%;
        .welcome-message{
            font-size: $size-24;
        }
        .name{
            font-size: $size-48;
            line-height: 62px;
        }
        .quote{
            padding: 50px 0 0 0;
            font-size: $size-18;
            line-height: 30px;
        }
        ul{
            display: flex;
            align-items: center;
            padding: 25px 0;
            font-size: $size-18;
            a{
                padding: 0 10px;
            }
            a:first-child{
                padding: 0 10px 0 0;
            }
            svg{
                display: flex;
                path{
                    transition-duration: 250ms;
                }  
            }
        }
        .buttons-row{
            display: flex;
            a{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 5px 10px;
                background-color: $dark-yellow;
                border: 2px solid $dark-yellow;
                border-radius: $br-10;
                text-align: center;
                transition-duration: 250ms;
                svg{
                    padding: 0 5px 0 0;
                    path{
                        transition-duration: 250ms;
                    }  
                }

            }
            a:last-child{
                margin: 0 0 0 20px;
            }
            a:hover{
                background-color: transparent;
                transition-duration: 250ms;
            }
        }
    }
    .right-part{
        display: flex;
        justify-content: center;
        align-self: center;
        width: 50%;
        user-select: none;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 0 0;
            .landing-about-img-hexagon{
                width: 70%;
                max-width: 300px;
                max-height: 300px;
                margin: 0 20% 0 0;
                transform: scaleX(-1) scaleY(-1) translateX(10%) translateY(-50%) rotate(40deg);
                z-index: -1;
            }
            .landing-about-img-circle{
                width: 70%;
                max-width: 350px;
                max-height: 350px;
                margin: 0 0 0 -50%;
                border-radius: 50%;
                outline: 1px solid $grey;
                z-index: -2;
            }
            .landing-about-img{
                width: 75%;
                max-width: 350px;
                max-height: 350px;
                margin: 12% 0 0 -68%;
                border-radius: 50%;
            }
        }
    }
}

#landing-resume{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    margin: 75px 0 0 0;
    background-color: $light-black;
    border-radius: $br-25;
    .left-part{
        width: 35%;
        img{
            max-width: 100%;
            border-radius: $br-25;
        }
    }
    .right-part{
        width: 65%;
        height: max-content;
        padding: 0 0 0 30px;
        .top-part{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            div{
                p:last-child{
                    font-size: $size-24;
                }
            }
            div:first-child{
                p:first-child{
                    font-size: 72px;
                    line-height: 62px;
                }
            }
            div:last-child{
                p:first-child{
                    font-size: $size-48;
                    line-height: 62px;
                }
            }
        }
        .bottom-part{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px 0 0 0;
            p:first-child{
                font-size: $size-48;
                line-height: 62px;
            }
            p:last-child{
                font-size: $size-24;
                line-height: 45px;
            }
        }
    }
}

#landing-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0 0 0;
    user-select: none;
    .top-part{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        p{
            font-size: $size-48;
            line-height: 62px;
        }
        a{
            padding: 5px 15px;
            background-color: $dark-yellow;
            border: 2px solid $dark-yellow;
            border-radius: $br-10;
            transition-duration: 250ms;
        }
        a:hover{
            background-color: transparent;
            transition-duration: 250ms;
        }
    }
    .bottom-part{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 30px 0 0 0;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 48.5%;
            .top-card{
                img{
                    max-width: 100%;
                    height: 200px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: $br-20;
                }
            }
            .bottom-card{
                width: 100%;
                padding: 15px 0 0 0;
                p{
                    font-size: $size-24;
                }
                div{
                    display: flex;
                    line-height: 30px;
                    a{
                        margin: 0 25px;
                        transition-duration: 250ms;
                    }
                    a:hover{
                        color: $light-yellow;
                        transition-duration: 250ms;
                    }
                }
            }
        }
    }
}

#landing-why{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0 0 0;
    .top-part{
        font-size: $size-48;
    }
    .bottom-part{
        display: flex;
        .row{
            display: flex;
            justify-content: space-around;
            align-items: start;
            padding: 30px 0 0 0;
            .card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;
                text-align: center;
                .top-card{
                    img{
                        max-width: 100%;
                        max-height: 200px;
                        border-radius: $br-25;
                    }
                }
                .bottom-card{
                    padding: 15px 0 0 0;
                    p:first-child{
                        font-size: $size-24;
                        line-height: 36px;
                    }
                    p:last-child{
                        font-size: $size-18;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

#contact{
    display: flex;
    justify-content: space-evenly;
    margin: 75px 0;
    padding: 15px 45px;
    background-color: $dark-yellow;
    border-radius: $br-10;
    .left-part{
        width: 25%;
        text-align: left;
        font-size: $size-48;
        line-height: 62px;
    }
    .right-part{ 
        display: flex;
        justify-content: right;
        align-self: center;
        width: 60%;
        height: max-content;
        .buttons-row{
            display: flex;
            justify-content: right;
            font-size: $size-24;
            a{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 8px 12px;
                background-color: transparent;
                border: 2px solid $very-light-grey;
                border-radius: $br-10;
                color: $very-light-grey;
                text-align: center;
                transition-duration: 250ms;
                svg{
                    padding: 0 5px 0 0;
                    path{
                        transition-duration: 250ms;
                    }  
                }

            }
            a:last-child{
                margin: 0 0 0 20px;
            }
            a:hover{
                background-color: $very-light-grey;
                color: $black;
                transition-duration: 250ms;
            }
        }
    }
}

#landing-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15%;
    background-color: $algaeBlue;
    .top-part{
        width: 50%;
        text-align: center;
        font-size: $size-48;
        line-height: 60px;
    }
    .middle-part{
        padding: 30px 0;
        .thumbnails-row{
            display: grid;
            grid-template-columns: 5% 43% 4% 43% 5%;
            grid-template-rows: 100%;
            .card{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 30px;
                background-color: $light-black;
                border-radius: $br-20 0 $br-20 $br-20;
                .top-card{
                    width: 90%;
                    font-size: $size-24;
                }
                .bottom-card{
                    display: flex;
                    justify-content: left;
                    width: 90%;
                    padding: 60px 0 0 15px;
                    img{
                        max-width: 50px;
                        max-height: 50px;
                        margin: 0 15px 0 0;
                        border-radius: $br-45;
                    }
                    p:last-child{
                        font-size: 14px;
                    }
                }
            }
            .first-card{
                grid-column: 2 / 3;
            }
            .second-card{
                grid-column: 4 / 5;
            }
        }
    }
}

#footer{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    user-select: none;
    .left-part{
        display: flex;
        align-self: center;
        height: max-content;
        font-size: $size-36;
        a{
            transition-duration: 250ms;
        }
        a:hover{
            color: $dark-yellow;
            transition-duration: 250ms;
        }
    }
    .middle-part{
        ul{
            display: flex;
            align-items: center;
            padding: 25px 0;
            a{
                padding: 0 10px;
            }
            svg{
                display: flex;
                align-items: center;
                path{
                    transition-duration: 250ms;
                }  
            }
        }
    }
    .right-part{
        display: flex;
        align-self: center;
        font-size: $size-24;
        a{
            display: inline-flex;
            align-items: center;
            transition-duration: 250ms;
            svg{
                path{
                    transition-duration: 250ms;
                }
            }
        }
        a:hover{
            color: $light-algaeBlue;
            transition-duration: 250ms;
        }
    }
}

#about-landing{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 75px 0 0 0;
    .left-part{
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0 25px 0 0;
        .about-landing-img{
            width: 100%;
            max-width: 350px;
            max-height: 350px;
            border-radius: $br-10;
        }
    }
    .right-part{
        margin: 0 0 0 25px;
        font-size: $size-18;
        line-height: 27px;
        div:first-child{
            font-size: $size-48;
            line-height: 72px;
        }
        ul{
            padding: 5px 0 0 0;
            a{
                li{
                    img{
                        max-width: 50px;
                        max-height: 50px;
                    }
                }
            }
        }
    }
}

#about-description{
    text-align: justify;
    font-size: $size-18;
    line-height: 45px;
    img{
        border-radius: $br-20;
    }
    .top-text{}
    .middle-img{
        margin: 60px 0;
        img{
            width: 100%;
        }
    }
    .bottom-text{
        p:last-child{
            margin: 45px 0 0 0;
        }
    }
    .bottom-video{
        display: flex;
        justify-content: center;
        margin: 60px 0 45px 0;
        img{
            width: 100%;
        }
    }
}

#about-contact{ 
    display: flex;
    justify-content: center;
    margin: 90px 0 0 0;
    padding: 60px 45px;
    background-color: $blueGrey;
    .left-part{
        width: 35%;
        text-align: left;
        font-size: $size-48;
    }
    .right-part{ 
        display: flex;
        justify-content: right;
        align-self: center;
        width: 35%;
        height: max-content;
        .buttons-row{
            display: flex;
            justify-content: right;
            font-size: $size-24;
            a{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 8px 12px;
                background-color: transparent;
                border: 2px solid $very-light-grey;
                border-radius: $br-10;
                color: $very-light-grey;
                text-align: center;
                transition-duration: 250ms;
                svg{
                    padding: 0 5px 0 0;
                    path{
                        transition-duration: 250ms;
                    }  
                }

            }
            a:last-child{
                margin: 0 0 0 20px;
            }
            a:hover{
                background-color: $very-light-grey;
                color: $black;
                transition-duration: 250ms;
            }
        }
    }
}

#projects-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0 0 0;
    .top-part{
        display: flex;
        align-self: flex-start;
        margin: 0 0 15px 0;
        font-size: $size-48;
    }
    .list-part{
        display: flex;
        align-self: flex-start;
        ul{
            font-size: $size-32;
            color: $grey;
            li{
                transition-duration: 250ms;
            }
            li:nth-child(2){
                margin: 0 30px;
            }
            li:hover{
                color: $dark-yellow;
                transition-duration: 250ms;
            }
            .currentSelected{
                color: $dark-yellow;
                border-bottom: 4px solid $dark-yellow;
                transition-duration: 250ms;
            }
            .currentSelected:hover{
                color: $grey;
                border-bottom: 4px solid $grey;
                transition-duration: 250ms;
            }
        }
    }
    .bottom-part{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        padding: 50px 0 0 0;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 47.5%;
            padding: 0 0 100px 0;
            text-align: center;
            .top-card{
                img{
                    max-width: 100%;
                    max-height: 500px;
                    border-radius: $br-25;
                }
            }
            .bottom-card{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 30px 0 0 0;
                text-align: left;
                p{
                    font-size: $size-24;
                }
                div{
                    padding: 15px 0 0 0;
                    line-height: 24px;
                    a:first-child{
                        margin: 0 15px 0 0;
                    }
                }
            }
        }
    }
}

.projects{
    .right-part{
        .buttons-row{
            a{
                margin: 0!important;
            }
        }
    }
}

#case-header{
    padding: 75px 0 0 0;
    p:first-child{
        font-size: $size-18;
        line-height: 32px;
    }
    p:nth-child(2){
        font-size: $size-48;
        line-height: 62px;
    }
    div{
        display: flex;
        padding: 30px 0 0 0;
        div{
            display: flex;
            flex-direction: column;
            padding: 0 36px 0 0;
            p{
                font-size: $size-24;
            }
        }
    }
    div:last-child{
        padding: 0;
    }
}

#case-description{
    text-align: justify;
    font-size: $size-18;
    line-height: 45px;
    img{
        border-radius: $br-20;
    }
    .title{
        font-size: $size-36;
    }
    .title:first-child{
        margin: 10px 0 0 0;
    }
    .top-img{
        margin: 60px 0;
        img{
            width: 100%;
        }
    }
    .top-text{}
    .middle-img{
        margin: 60px 0;
        img{
            width: 100%;
        }
    }
    .bottom-text{
        .title{
            font-size: $size-24;
        }
        .title:nth-child(3){
            margin: 30px 0 0 0;
        }
    }
    .bottom-img{
        display: flex;
        justify-content: center;
        margin: 60px 0 45px 0;
        img{
            width: 100%;
        }
    }
}

#case-latest{
    .top-part{
        p{
            font-size: $size-36;
            line-height: 46px;
        }
    }
    .bottom-part{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        padding: 50px 0 0 0;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 47.5%;
            padding: 0 0 60px 0;
            text-align: center;
            .top-card{
                img{
                    max-width: 100%;
                    max-height: 500px;
                    border-radius: $br-25;
                }
            }
            .bottom-card{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 30px 0 0 0;
                text-align: left;
                p{
                    font-size: $size-24;
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px){
    #landing-about{
        flex-direction: column-reverse;
        padding: 15px 0 0 0;
        .left-part{
            width: 100%;
        }
        .right-part{
            width: 55%;
            padding: 0 0 60px 0;
        }
    }

    #landing-resume{
        flex-direction: column-reverse;
        .left-part{
            display: none;
        }
        .right-part{
            width: 100%;
        }
    }

    #landing-why{
        .bottom-part{
            flex-direction: column;
            .row{
                .card{
                    width: 40%;
                }
            }
        }
    }

    #contact{
        flex-direction: column;
        .left-part{
            width: 100%;
            margin: 0 0 15px 0;
            text-align: center;
        }
        .right-part{
            justify-content: center;
            width: 100%;
        }
    }

    #landing-review{
        .top-part{
            width: 100%;
        }
    }

    #about-landing{
        flex-direction: column;
        padding: 15px 0 0 0;
        .left-part{
            width: 40%;
            align-self: flex-start;
            padding: 30px 0;
        }
        .right-part{
            width: 100%;
            margin: 0;
        }
    }

    #about-contact{
        flex-direction: column;
        .left-part{
            width: 100%;
            margin: 0 0 15px 0;
            text-align: center;
        }
        .right-part{
            justify-content: center;
            width: 100%;
        }
    }

    #projects-list{
        .bottom-part{
            .card{
                padding: 0 0 60px 0;
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    #landing-projects{
        .bottom-part{
            .card{
                .bottom-card{
                    div{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px){
    #landing-review{
        .middle-part{
            .thumbnails-row{
                display: flex;
                flex-direction: column;
                .first-card{
                    margin: 0 0 45px 0;
                }
            }
        }
    }

    #projects-list{
        .list-part{
            ul{
                li{
                    margin: 0 0 15px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px){
    .paddingX{
        padding: 0 7.5%;
    }

    #header{
        flex-direction: column;
        align-items: center;
        padding: 40px 0 20px 0;
        .left-part{
            font-size: $size-32;
        }
        .right-part{
            margin: 30px 0 0 0;
            font-size: $size-24;
        }
    }

    #about-landing{
        .left-part{
            align-self: center;
            width: 50%;
        }
    }

    #projects-list{
        .bottom-part{
            .card{
                width: 97.5%;
            }
        }
    }

    #case-latest{
        .bottom-part{
            display: flex;
            justify-content: center;
            .card{
                width: 77.5%;
            }
        }
    }
}

@media only screen and (max-width: 700px){
    #contact{
        .right-part{
            .buttons-row{
                flex-direction: column;
                a:last-child{
                    margin: 15px 0 0 0;
                }
            }
        }
    }

    #about-contact{
        .right-part{
            .buttons-row{
                flex-direction: column;
                a:last-child{
                    margin: 15px 0 0 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    #header{
        padding: 30px 0 15px 0;
        .left-part{
            font-size: $size-24;
        }
        .right-part{
            margin: 30px 0 0 0;
            font-size: $size-18;
        }
    }

    #landing-about{
        .left-part{
            width: 100%;
            .welcome-message{
                font-size: $size-24;
            }
            .name{
                font-size: $size-36;
                line-height: 54px;
            }
            .quote{
                padding: 15px 0 0 0;
                font-size: $size-18;
                line-height: 27px;
            }
        }
        .right-part{
            width: 60%;
            padding: 0 0 60px 0;
        }
    }

    #landing-resume{
        padding: 30px;
        .right-part{
            .top-part{
                div{
                    p:last-child{
                        font-size: $size-18;
                    }
                }
                div:first-child{
                    p:first-child{
                        font-size: $size-48;
                        line-height: 62px;
                    }
                }
                div:last-child{
                    p:first-child{
                        font-size: $size-48;
                        line-height: 62px;
                    }
                }
            }
            .bottom-part{
                padding: 15px 0 0 0;
                p:first-child{
                    font-size: 40px;
                }
                p:last-child{
                    font-size: 20px;
                    line-height: 35px;
                }
            }
        }
    }

    #landing-projects{
        padding: 60px 0 0 0;
        .top-part{
            p{
                font-size: 36px;
                line-height: 62px;
            }
            a{
                padding: 4px 12px;
            }
        }
        .bottom-part{
            padding: 15px 0 0 0;
            .card{
                .bottom-card{
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #landing-why{
        .bottom-part{
            .row{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                .card{
                    width: 80%;
                    padding: 30px 0 0 0;
                }
            }
        }
    }

    #contact{
        .left-part{
            font-size: $size-36;
            line-height: 40px;
        }
        .right-part{
            padding: 15px 0 0 0;
            .buttons-row{
                font-size: 20px;
            }
        }
    }

    #landing-review{
        .top-part{
            font-size: $size-36;
            line-height: 40px;
        }
    }

    #footer{
        .left-part{
            font-size: $size-24;
        }
        .right-part{
            font-size: 20px;
        }
    }

    #about-landing{
        .left-part{
            padding: 0 0 20px 0;
        }
        .right-part{
            div:first-child{
                font-size: $size-36;
                line-height: 56px;
            }
            ul{
                a{
                    li{
                        img{
                            max-width: 45px;
                            max-height: 45px;
                        }
                    }
                }
            }
        }
    }

    #about-description{
        font-size: $size-18;
        line-height: 27px;
    }

    #about-contact{
        padding: 45px 30px;
        .left-part{
            font-size: $size-36;
            line-height: 40px;
        }
        .right-part{
            .buttons-row{
                font-size: 20px;
            }
        }
    }

    #projects-list{
        padding: 60px 0 0 0;
        .top-part{
            font-size: $size-36;
        }
        .list-part{
            ul{
                font-size: $size-24;
            }
        }
    }

    #case-header{
        padding: 65px 0 0 0;
        p:nth-child(2){
            font-size: $size-36;
            line-height: 40px;
        }
    }

    #case-description{
        line-height: 27px;
        .title{
            font-size: 28px;
            padding: 0 0 15px 0;
        }
    }
}

@media only screen and (max-width: 500px){
    #landing-about{
        .left-part{
            .name{
                padding: 5px 0 10px 0;
                font-size: 30px;
                line-height: 40px;
            }
        }
        .right-part{
            width: 70%;
        }
    }

    #landing-resume{
        .right-part{
            .bottom-part{
                p:first-child{
                    font-size: 30px;
                }
                p:last-child{
                    font-size: $size-18;
                }
            }
        }
    }

    #landing-projects{
        .top-part{
            p{
                font-size: 30px;
                line-height: 48px;
            }
            a{
                padding: 2px 4px;
            }
        }
        .bottom-part{
            display: flex;
            flex-direction: column;
            align-items: center;
            .card{
                width: 85%;
            }
            .card:first-child{
                padding: 0 0 30px 0 ;
            }
        }
    }

    #landing-why{
        padding: 90px 0 0 0;
        .top-part{
            font-size: $size-36;
        }
    }

    #footer{
        justify-content: space-between;
        padding: 15px;
        .middle-part{
            display: none;
        }
    }

    #about-landing{
        .right-part{
            div:first-child{
                font-size: 30px;
                line-height: 46px;
            }
        }
    }

    #projects-list{
        .list-part{
            ul{
                display: flex;
                flex-direction: column;
                font-size: $size-24;
                li{
                    width: max-content;
                }
                li:nth-child(2) {
                    margin: 0 0 15px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px){
    #header{
        .right-part{
            margin: 30px 0 0 0;
            font-size: $size-18;
        }
    }
}

@media only screen and (max-width: 300px){
}